<div class="row mt-5 pt-5">
  <div class="col text-center">
    <!--Section: Features v.2-->
    <!--Card-->
    <div class="card card-cascade wider reverse my-4">
      <div class="card-body text-center">
        <section class="section feature-box text-left">

          <h1>Allgemeine Geschäftsbedingungen</h1>

          <br />
          <h4>Vertragspartner</h4>Auf Grundlage dieser Allgemeinen Geschäftsbedingungen (AGB) kommt zwischen dem Kunden und EventPicKing,
          nachfolgend Anbieter genannt, der Vertrag zustande.
          <br>
          <br>EventPicKing wird vertreten durch
          <br>Daniel Sogl
          <br />Adresse: Wernerstra&szlig;e 80, 71636 Ludwigsburg
          <br />Tel: 01775891978
          <br />E-Mail-Adresse: mytechde@outlook.com
          <br />
          <br />Handelsregister: Amtsgericht-Stuttgart
          <br />Handelsregisternummer: B-170033
          <br />Umsatzsteuer-Identifikationsnummer: DE270638255
          <br>
          <br>
          <br>
          <br>
          <h4>Vertragsgegenstand</h4>Durch diesen Vertrag wird der Verkauf von Dienstleistungen über den Online-Shop des Anbieters
          geregelt. Wegen der Details des jeweiligen Angebotes wird auf die Produktbeschreibung der Angebotsseite verwiesen.
          <br>
          <br>
          <br>
          <h4>Vertragsschluss</h4>Der Vertrag kommt ausschließlich im elektronischen Geschäftsverkehr über das Shop-System zustande.
          Dabei stellen die dargestellten Angebote eine unverbindliche Aufforderung zur Abgabe eines Angebots durch die Kundenbestellung
          dar, das der Anbieter dann annehmen kann. Der Bestellvorgang zum Vertragsschluss umfasst im Shop-System folgende
          Schritte:
          <li>Auswahl des Angebots in der gewünschten Spezifikation (Größe, Farbe, Anzahl)</li>
          <li>Einlegen des Angebots in den Warenkorb</li>
          <li>Betätigen des Buttons 'bestellen'</li>
          <li>Eingabe der Rechnungs- und Lieferadresse</li>
          <li>Auswahl der Bezahlmethode</li>
          <li>Überprüfung und Bearbeitung der Bestellung und aller Eingaben</li>
          <li>Betätigen des Buttons 'kostenpflichtig bestellen'</li>
          <li>Bestätigungsmail, dass Bestellung eingegangen ist</li> Mit der Zusendung der Bestellbestätigung kommt der Vertrag
          zustande.
          <br>
          <br>
          <br>
          <h4>Vertragsdauer</h4>Der Vertrag hat wiederkehrende/dauernde Leistungen zum Gegenstand. Der Vertrag wird auf unbestimmte
          Zeit geschlossen. Jede Vertragspartei hat das Recht den Vertrag mit einer Frist von 1 Monate zum Monatsende ohne
          Angabe von Gründen zu kündigen. Das Recht auf außerordentliche Kündigung aus wichtigem Grund, insbesondere dem
          wiederholten Verstoß gegen die vertraglichen Hauptpflichten bleibt unberührt. Die Kündigung ist nur wirksam, wenn
          sie in folgender Form erfolgt: Elektronisch/E-Mail.
          <br>
          <br>
          <br>
          <h4>Preise, Versandkosten, Rücksendekosten</h4>Alle Preise sind Endpreise und enthalten die gesetzliche Umsatzsteuer.
          Pro Bestellung fallen einmalig folgende Versandkostenpauschalen an: Deutschland: € 5 EU: € 10 International: €
          15. Bei Teillieferungen fällt die Pauschale jeweils nur einmal an. Für den Versand fallen keine weiteren Kosten
          an. Dies gilt ab einem Betrag von € . Besteht ein Widerrufsrecht und wird von diesem Gebraucht gemacht, trägt der
          Kunde die Kosten der Rücksendung.
          <br>
          <br>
          <br>
          <h4>Zahlungsbedingungen</h4>Der Kunde hat ausschließlich folgende Möglichkeiten zur Zahlung: Lastschrifteinzug, Zahlungsdienstleister
          (PayPal), Kreditkarte. Weitere Zahlungsarten werden nicht angeboten und werden zurückgewiesen.
          <br /> Der Rechnungsbetrag wird vom Anbieter mittels Lastschriftverfahren auf Grundlage der Einzugsermächtigung durch
          den Kunden von dessen angegebenem Konto eingezogen. Bei Verwendung eines Treuhandservice/ Zahlungsdienstleisters
          ermöglicht es dieser dem Anbieter und Kunden, die Zahlung untereinander abzuwickeln. Dabei leitet der Treuhandservice/
          Zahlungsdienstleister die Zahlung des Kunden an den Anbieter weiter. Weitere Informationen erhalten Sie auf der
          Internetseite des jeweiligen Treuhandservices/ Zahlungsdienstleisters. Bei Zahlung über Kreditkarte muss der Kunde
          der Karteninhaber sein. Die Belastung der Kreditkarte erfolgt nach Versand der Ware. Der Kunde ist verpflichtet
          innerhalb von 14 Tagen nach Erhalt der Rechnung den ausgewiesenen Betrag auf das auf der Rechnung angegebene Konto
          einzuzahlen oder zu überweisen. Die Zahlung ist ab Rechnungsdatum ohne Abzug fällig. Der Kunde kommt erst nach
          Mahnung in Verzug.
          <br>
          <br>
          <br>
          <h4>Lieferbedingungen</h4>Die Ware wird umgehend nach bestätigtem Zahlungseingang versandt. Der Versand erfolgt durchschnittlich
          spätestens nach 2 Tagen. Der Unternehmer verpflichtet sich zur Lieferung am 7 Tag nach Bestelleingang. Die Regellieferzeit
          beträgt 4 Tage, wenn in der Artikelbeschreibung nichts anderes angegeben ist. Der Anbieter versendet nicht direkt.
          Die Bestellung wird vom Hersteller verschickt, sobald die gesamte Bestellung dort vorrätig ist. Der Kunde wird
          über Verzögerungen umgehend informiert.
          <br>
          <br>
          <br>
          <h4>Vertragsgestaltung</h4>Der Kunde hat keine Möglichkeit selbst direkt auf den gespeicherten Vertragstext zuzugreifen.
          <br>
          <br>
          <br>
          <h4>Widerrufsrecht und Kundendienst</h4>




          Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
          <br />
          <br /> Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag,
          <br />
          <br />


          <li>Im Falle eines Kaufvertrags: an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die
            letzte Ware in Besitz genommen haben bzw. hat.</li>
          <li>Im Falle einer Vertrags über mehrere Waren, die der Verbraucher im Rahmen einer einheitlichen Bestellung bestellt
            hat und die getrennt geliefert werden: an dem Sie oder ein von Ihnen benannter Dritter, der nicht Beförderer
            ist, die letzte Ware in Besitz genommen haben bzw. hat.</li>
          <li>Im Falle eines Vertrags über die Lieferung einer Ware in mehreren Teilsendungen oder Stücken: an dem Sie oder ein
            von Ihnen benannter Dritter, der nicht Beförderer ist, die letzte Teilsendung oder das letzte Stück in Besitz
            genommen haben bzw. hat.</li>
          <li>Im Falle eines Vertrages zur regelmäßigen Lieferung von Waren über einen festgelegten Zeitraum hinweg: an dem Sie
            oder ein von Ihnen benannter Dritter, der nicht Beförderer ist, die erste Ware in Besitz genommen haben bzw.
            hat.
          </li>

          Beim Zusammentreffen mehrerer Alternativen ist der jeweils letzte Zeitpunkt maßgeblich.
          <br />
          <br /> Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (picpcieventpicking, Max Mustermann, Oberhofenstraße 33 32432
          Stuggi 0152020202020 qdwqdqw@eventpicking.de) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter
          Brief, Telefax, oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür
          das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
          <br />
          <br /> Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor
          Ablauf der Widerrufsfrist absenden.
          <br />
          <br /> Folgen des Widerrufs
          <br />
          <br /> Wenn Sie diesen Vertag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich
          der Lieferkosten (mit Ausnahmen der zusätzlichen Kosten, die sich daraus ergeben, dass Sie einer andere Art der
          Lieferung als die von uns angebotene, günstige Standardlieferung gewählt haben), unverzüglich und spätestens binnen
          vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen
          ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt
          haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser
          Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten
          haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der
          frühere Zeitpunkt ist.
          <br />
          <br /> Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns
          über den Widerruf dieses Vertrags unterrichten, an picpcieventpicking, Max Mustermann, Oberhofenstraße 33 32432
          Stuggi 0152020202020 qdwqdqw@eventpicking.de uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn
          Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.
          <br />
          <br /> Sie tragen die unmittelbaren Kosten der Rücksendung der Waren.
          <br />
          <br /> Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung
          der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen
          ist.
          <br />
          <br /> Ende der Widerrufsbelehrung
          <br />
          <br />
          <br>
          <h4>Sprache, Gerichtsstand und anzuwendendes Recht</h4>Der Vertrag wird in Deutsch abgefasst. Die weitere Durchführung
          der Vertragsbeziehung erfolgt in Deutsch. Es findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung.
          Für Verbraucher gilt dies nur insoweit, als dadurch keine gesetzlichen Bestimmungen des Staates eingeschränkt werden,
          in dem der Kunde seinen Wohnsitz oder gewöhnlichen Aufenthalt hat. Gerichtsstand ist bei Streitigkeiten mit Kunden,
          die kein Verbraucher, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen sind,
          Sitz des Anbieters.

        </section>
      </div>
    </div>
  </div>
</div>