<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" routerLink="/home">Eventpicking</a>
    </logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbRippleRadius routerLink="/home">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbRippleRadius routerLink="/prices">Preise</a>
        </li>

      </ul>

      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item" *ngIf="!fbUser">
          <a class="nav-link waves-effect waves-light" (click)="login()">
            <i class="fa fa-sign-in mr-1"></i>
            <span class="clearfix d-none d-sm-inline-block">Anmelden</span>
          </a>
        </li>

        <li class="nav-item dropdown" dropdown *ngIf="fbUser">
          <a dropdownToggle class="nav-link dropdown-toggle waves-effect waves-light">
            <i class="fa fa-user"></i> Profil
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-cyan" role="menu">
            <a class="dropdown-item waves-effect waves-light" mdbRippleRaius routerLink="/profile">Mein Konto</a>
            <a class="dropdown-item waves-effect waves-light" mdbRippleRadius (click)="logout()">Abmelden</a>
          </div>
        </li>
      </ul>

    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
</header>
