<footer class="page-footer center-on-small-only pt-0 mt-5 fixed-bottom indigo">

  <!--
  <div class="container">
    <div class="row">


      <div class="col-md-6">
        <ul>
          <li>
            <a routerLink="/imprint">Impressum</a>
          </li>
          <li>
            <a routerLink="/data-protection">Datenschutzerklärung</a>
          </li>
        </ul>
      </div>

    </div>
  </div> -->

  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright:
      <a routerLink="/"> eventpicking.de </a>
    </div>
  </div>

</footer>