#sum_row {
  background-color: rgb(68, 68, 68);
  color: white;
}

.btn-secondary {
  background-color: darkgrey;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: grey !important; //important needed to override color
}
