<div class="row mt-5 pt-5">
  <div class="col text-center">
   <!--Section: Pricing v.2-->
<section class="section pb-3">
  
      <!--Section heading-->
      <h1 class="section-heading h1 pt-4">Our pricing plans</h1>
      <!--Section description-->
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
      <!--Grid row-->
      <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
  
              <!-- Card -->
              <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">
  
                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">
  
                      <!--Content-->
                      <div class="card-body">
                          <h5>Basic</h5>
                          <!--Price-->
                          <div class="price pt-0">
                              <h1>10</h1>
                          </div>
                          <!--Price-->
                          <ul class="striped">
                              <li>
                                  <p><strong>1</strong> project</p>
                              </li>
                              <li>
                                  <p><strong>100</strong> components</p>
                              </li>
                              <li>
                                  <p><strong>150</strong> features</p>
                              </li>
                              <li>
                                  <p><strong>200</strong> members</p>
                              </li>
                              <li>
                                  <p><strong>250</strong> messages</p>
                              </li>
                          </ul>
                          <a class="btn btn-outline-white waves-light" mdbRippleRadius> Buy now</a>
                      </div>
  
                  </div>
                  <!--Pricing card-->
              </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
  
              <!-- Card -->
              <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(4).jpg');">
  
                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">
  
                      <!--Content-->
                      <div class="card-body">
                          <h5>Pro</h5>
                          <!--Price-->
                          <div class="price pt-0">
                              <h1>20</h1>
                          </div>
                          <!--Price-->
                          <ul class="striped">
                              <li>
                                  <p><strong>3</strong> project</p>
                              </li>
                              <li>
                                  <p><strong>200</strong> components</p>
                              </li>
                              <li>
                                  <p><strong>250</strong> features</p>
                              </li>
                              <li>
                                  <p><strong>300</strong> members</p>
                              </li>
                              <li>
                                  <p><strong>350</strong> messages</p>
                              </li>
                          </ul>
                          <a class="btn btn-outline-white waves-light" mdbRippleRadius> Buy now</a>
                      </div>
  
                  </div>
                  <!--Pricing card-->
              </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-r">
  
              <!-- Card -->
              <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">
  
                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">
  
                      <!--Content-->
                      <div class="card-body">
                          <h5>Enterprise</h5>
                          <!--Price-->
                          <div class="price pt-0">
                              <h1>30</h1>
                          </div>
                          <!--Price-->
                          <ul class="striped">
                              <li>
                                  <p><strong>5</strong> project</p>
                              </li>
                              <li>
                                  <p><strong>300</strong> components</p>
                              </li>
                              <li>
                                  <p><strong>350</strong> features</p>
                              </li>
                              <li>
                                  <p><strong>400</strong> members</p>
                              </li>
                              <li>
                                  <p><strong>450</strong> messages</p>
                              </li>
                          </ul>
                          <a class="btn btn-outline-white waves-light" mdbRippleRadius> Buy now</a>
                      </div>
  
                  </div>
                  <!--Pricing card-->
              </div>
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
  <!--Section: Pricing v.2-->
  </div>
</div>
