<mdb-tabset #staticTabs [buttonClass]="'nav-tabs indigo'" [contentClass]="'card'">
  <mdb-tab heading="Purchases">
    <div class="row">
      <div class="col-12">
        <br>
        <table class="table text-left">
          <thead>
            <tr>
              <td>#</td>
              <td>Transaction ID</td>
              <td>Order Date</td>
              <td>Order Price</td>
              <td>Order Status</td>
              <td>View Order</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of (transactions | async); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ transaction.invoice_number }}</td>
              <td>{{ transaction.date | date }}</td>
              <td>{{ transaction.amount.total | number:'0.2-2' }} €</td>
              <td>{{ transaction.status | uppercase }}</td>
              <td>
                <a (click)="openTransaction(transaction)" *ngIf="transaction.status === 'available'">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="Profile">
    <div class="row">
      <div class="col-12 text-left">
        <br>
        <form [formGroup]="userForm">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true">

            <mdb-item>
              <mdb-item-head>Contact informations</mdb-item-head>
              <mdb-item-body>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="lastname">
                  <label class="active">{{ 'INPUTS.LASTNAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.EMAIL' | translate }}</label>
                </div>
              </mdb-item-body>
            </mdb-item>

            <mdb-item>
              <mdb-item-head>Billing Address</mdb-item-head>
              <mdb-item-body formArrayName="billingAdress">
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="company">
                  <label class="active">{{ 'INPUTS.COMPANY' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="lastname">
                  <label class="active">{{ 'INPUTS.LASTNAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="phone">
                  <label class="active">{{ 'INPUTS.PHONE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.CONTACT_EMAIL' | translate }}</label>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="street">
                      <label class="active">{{ 'INPUTS.STREET' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="streetnumber">
                      <label class="active">{{ 'INPUTS.STREET_NUMBER' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="zip">
                      <label class="active">{{ 'INPUTS.ZIP' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="city">
                      <label class="active">{{ 'INPUTS.CITY' | translate }}</label>
                    </div>
                  </div>
                </div>
              </mdb-item-body>
            </mdb-item>

            <mdb-item>
              <mdb-item-head>Delivery Address</mdb-item-head>
              <mdb-item-body formArrayName="deliveryAdress">
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="company">
                  <label class="active">{{ 'INPUTS.COMPANY' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="lastname">
                  <label class="active">{{ 'INPUTS.LASTNAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="phone">
                  <label class="active">{{ 'INPUTS.PHONE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.CONTACT_EMAIL' | translate }}</label>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="street">
                      <label class="active">{{ 'INPUTS.STREET' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="streetnumber">
                      <label class="active">{{ 'INPUTS.STREET_NUMBER' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="zip">
                      <label class="active">{{ 'INPUTS.ZIP' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="city">
                      <label class="active">{{ 'INPUTS.CITY' | translate }}</label>
                    </div>
                  </div>
                </div>
              </mdb-item-body>
            </mdb-item>

          </mdb-squeezebox>

          <br>
          <div class="row no-gutters justify-content-start" style="align-items: center">
            <div class="col-4"></div>
            <div class="col-4">
              <button type="submit" class="btn btn-lg btn-block waves-light pink" mdbRippleRadius (click)="updateProfile()">{{ 'BUTTONS.UPDATE_PROFILE' | translate }}</button>
            </div>
            <div class="col-4"></div>
          </div>

        </form>
      </div>
    </div>
  </mdb-tab>
</mdb-tabset>