<div class="row mt-5 pt-5">
  <div class="col text-center">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>

<ng-template #loadingTmpl>
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</ng-template>

<ng-template #dashboardUser>
  <app-dashboard-user></app-dashboard-user>
</ng-template>

<ng-template #dashboardPhotographer>
  <app-dashboard-photographer></app-dashboard-photographer>
</ng-template>

<ng-template #dashboardAdmin>
  <app-dashboard-admin></app-dashboard-admin>
</ng-template>