<div class="row mt-5 pt-5">
  <div class="col text-center">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>

<ng-template #loadingTmpl>
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</ng-template>

<ng-template #userTmpl>
  <!-- Nav tabs -->
  <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3 aqua-gradient'" [contentClass]="'card'">
    <!--Events -->
    <mdb-tab heading="Käufe">
      <div class="row">
        <div class="col-12">
          <br>
        </div>
      </div>
    </mdb-tab>
    <!--Verkäufe -->
    <mdb-tab heading="Profil">
      <div class="row">
        <div class="col-12">
          <br>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</ng-template>

<ng-template #photographerTmpl>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-lg aqua-gradient waves-light" mdbRippleRadius (click)="createEventModal.show()">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <!-- Nav tabs -->
  <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3 aqua-gradient'" [contentClass]="'card'">
    <!--Events -->
    <mdb-tab heading="Events">
      <div class="row">
        <div class="col-12">
          <br>

          <!--Card Light-->
          <div class="card-columns">
            <!-- Card -->
            <div *ngFor="let event of events | async; let i = index" class="card card-cascade">

              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center peach-gradient py-5 px-4">
                <div>
                  <h5>
                    <i class="fa fa-calendar"></i> {{ event.date }}</h5>
                  <p>{{ event.name }}
                  </p>
                  <a class="btn btn-primary waves-light" (click)="editEvent(event)">
                    <i class="fa fa-clone left"></i>bearbeiten</a>
                </div>
              </div>
              <!-- Content -->
            </div>
            <!-- Card -->
          </div>

        </div>
      </div>
    </mdb-tab>
    <!--Verkäufe -->
    <mdb-tab heading="Verkäufe">
      <div class="row">
        <div class="col-12">
          <br>
          <h3 *ngIf="sales.length === 0">Noch keine Verkäufe</h3>
        </div>
      </div>
    </mdb-tab>
    <!--Profil -->
    <mdb-tab heading="Profil">
      <div class="row text-left">
        <div class="col-12">
          <br>
          <form>
            <h5>Persönlichedaten</h5>
            <hr>
            <div class="md-form">
              <mdb-select [options]="optionsSelect" placeholder="Anrede"></mdb-select>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="name" [(ngModel)]="user.name">
              <label for="email" class="">Vorname</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="lastname" [(ngModel)]="user.lastname">
              <label for="email" class="">Nachname</label>
            </div>
            <h5>Rechnungsadresse</h5>
            <hr>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="street" [(ngModel)]="user.street">
              <label for="email" class="">Straße</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="city" [(ngModel)]="user.city">
              <label for="email" class="">Stadt</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="zip" [(ngModel)]="user.zip">
              <label for="email" class="">PLZ</label>
            </div>
            <h5>Soziale Netzwerke</h5>
            <hr>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="homepage" [(ngModel)]="photographerProfile.website">
              <label for="email" class="">Homepage</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="facebook" [(ngModel)]="photographerProfile.facebook">
              <label for="email" class="">Facebook</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="twitter" [(ngModel)]="photographerProfile.twitter">
              <label for="email" class="">Twitter</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="instagram" [(ngModel)]="photographerProfile.instagram">
              <label for="email" class="">Instagram</label>
            </div>
            <div class="md-form">
              <input mdbActive type="text" class="form-control" id="input_email" name="tumbler" [(ngModel)]="photographerProfile.tumbler">
              <label for="email" class="">Tumbler</label>
            </div>
            <hr>
            <button type="button" class="btn btn-light-blue btn-lg btn-block waves-light" (click)="updateProfile()" mdbRippleRadius>Speichern</button>
          </form>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</ng-template>

<ng-template #adminTmpl>
  <h1>Admin</h1>
</ng-template>


<div mdbModal #createEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header aqua-gradient darken-3 white-text">
        <h4 class="title">
          <i class="fa fa-calendar"></i> Event erstellen</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="createEventModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <div class="md-form form-sm">
          <i class="fa fa-calendar prefix"></i>
          <input mdbActive type="text" class="form-control" name="event_name" [(ngModel)]="newEvent.name">
          <label for="form19">Event Name</label>
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-map-marker prefix"></i>
          <input mdbActive type="text" class="form-control" name="event_location" [(ngModel)]="newEvent.location">
          <label for="form19">Event Location</label>
        </div>


        <div class="md-form form-sm">
          <i class="fa fa-calendar prefix"></i>
          <input mdbActive type="text" class="form-control" name="event_date" [(ngModel)]="newEvent.date">
          <label for="form19">Datum</label>
        </div>

        <div class="form-group">
          <label for="form19">Veröffentlichen</label>
          <div class="switch">
            <label>
              Nein
              <input type="checkbox" [(ngModel)]="newEvent.public">
              <span class="lever"></span>
              Ja
            </label>
          </div>
        </div>


        <div class="text-center mt-1-half">
          <button class="btn aqua-gradient mb-2 waves-light" mdbRippleRadius (click)="createNewEvent(); createEventModal.hide()">Event anlegen
            <i class="fa fa-plus ml-1"></i>
          </button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>