<mdb-tabset [buttonClass]="'nav-tabs indigo'" [contentClass]="'card'">

  <mdb-tab heading="{{ 'TABS.EVENTS' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="card-columns">
          <app-dashboard-event-card *ngFor="let event of events | async" [event]="event"></app-dashboard-event-card>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large pink waves-light" mdbRippleRadius (click)="createNewEvent()">
        <i class="fa fa-plus"></i>
      </a>
    </div>

  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.SALES' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.SUBSCRIPTION' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>

        <!--Section: Pricing v.1-->
        <section class="section pb-3">
          <!--Section heading-->
          <h1 class="section-heading h1 pt-4">Our pricing plans</h1>
          <!--Section description-->
          <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse
            quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>


          <div class="row">

            <div class="col-lg-4 col-md-12 mb-r">

              <div class="card pricing-card">
                <!--Price-->
                <div class="price header indigo">
                  <h1>25</h1>
                  <div class="version">
                    <h5>Basic</h5>
                  </div>
                </div>
                <!--/.Price-->

                <!--Features-->
                <div class="card-body striped">
                  <ul>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 15 Events</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> No storage limitation</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 10% provision</p>
                    </li>
                  </ul>
                  <p>Premium listing</p>
                  <div class="form-group">
                    <input type="checkbox" class="filled-in">
                    <label for="checkbox2">Add for 10€ more</label>
                  </div>
                  <hr>

                  <button class="btn btn-indigo waves-light" mdbRippleRadius>Upgrade</button>
                </div>
                <!--/.Features-->

              </div>

            </div>

            <div class="col-lg-4 col-md-6 mb-r">
              <div class="card pricing-card">
                <!--Price-->
                <div class="price header indigo">
                  <h1>35</h1>
                  <div class="version">
                    <h5>Smart</h5>
                  </div>
                </div>
                <!--/.Price-->

                <!--Features-->
                <div class="card-body striped">
                  <ul>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 25 Events</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> No storage limitation</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 10% provision</p>
                    </li>
                  </ul>
                  <p>Premium listing</p>
                  <div class="form-group">
                    <input type="checkbox" class="filled-in">
                    <label for="checkbox2">Add for 10€ more</label>
                  </div>
                  <hr>

                  <button class="btn btn-indigo waves-light" mdbRippleRadius>Upgrade</button>
                </div>
                <!--/.Features-->

              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-r">
              <div class="card pricing-card">
                <!--Price-->
                <div class="price header indigo">
                  <h1>50</h1>
                  <div class="version">
                    <h5>Pro</h5>
                  </div>
                </div>
                <!--/.Price-->

                <!--Features-->
                <div class="card-body striped">
                  <ul>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 50 Events</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> No storage limitation</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check"></i> 10% provision</p>
                    </li>
                  </ul>
                  <p>Premium listing</p>
                  <div class="form-group">
                    <input type="checkbox" class="filled-in">
                    <label for="checkbox2">Add for 10€ more</label>
                  </div>
                  <hr>

                  <button class="btn btn-indigo waves-light" mdbRippleRadius>Upgrade</button>
                </div>
                <!--/.Features-->

              </div>
            </div>

          </div>
        </section>

      </div>
    </div>
  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.PRINTING_HOUSES' | translate }}">
    <div class="row">
      <div class="col-12 text-left">
        <br>
        <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
          <mdb-item>
            <mdb-item-head>Standard Printing house</mdb-item-head>
            <mdb-item-body>
              <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                <mdb-item>
                  <mdb-item-head>Contact Information</mdb-item-head>
                  <mdb-item-body>
                  </mdb-item-body>
                </mdb-item>
                <mdb-item>
                  <mdb-item-head>Prices</mdb-item-head>
                  <mdb-item-body>
                  </mdb-item-body>
                </mdb-item>
              </mdb-squeezebox>
            </mdb-item-body>
          </mdb-item>
          <mdb-item>
            <mdb-item-head>Own Printing House</mdb-item-head>
            <mdb-item-body>
              <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                <mdb-item>
                  <mdb-item-head>Contact Information</mdb-item-head>
                  <mdb-item-body>
                  </mdb-item-body>
                </mdb-item>
                <mdb-item>
                  <mdb-item-head>Payment Data</mdb-item-head>
                  <mdb-item-body>
                  </mdb-item-body>
                </mdb-item>
                <mdb-item>
                  <mdb-item-head>Prices</mdb-item-head>
                  <mdb-item-body>
                  </mdb-item-body>
                </mdb-item>
              </mdb-squeezebox>
            </mdb-item-body>
          </mdb-item>
        </mdb-squeezebox>
      </div>
    </div>
  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.PROFILE' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
        <mdb-squeezebox [multiple]="false" aria-multiselectable="true" class="text-left">
          <mdb-item>
            <mdb-item-head>{{ 'LABELS.ACCOUNT_DATA' | translate }}</mdb-item-head>
            <mdb-item-body>
              <br>
              <form [formGroup]="accountDataForm">
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="lastname">
                  <label class="active">{{ 'INPUTS.LASTNAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.CONTACT_EMAIL' | translate }}</label>
                </div>
              </form>
            </mdb-item-body>
          </mdb-item>
          <mdb-item>
            <mdb-item-head>{{ 'LABELS.BILLING_INFORMATION' | translate }}</mdb-item-head>
            <mdb-item-body>
              <br>
              <form [formGroup]="billingAddressForm">
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="company">
                  <label class="active">{{ 'INPUTS.COMPANY' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.NAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="lastname">
                  <label class="active">{{ 'INPUTS.LASTNAME' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="phone">
                  <label class="active">{{ 'INPUTS.PHONE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.CONTACT_EMAIL' | translate }}</label>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="street">
                      <label class="active">{{ 'INPUTS.STREET' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="streetnumber">
                      <label class="active">{{ 'INPUTS.STREET_NUMBER' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="zip">
                      <label class="active">{{ 'INPUTS.ZIP' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="md-form">
                      <input type="text" class="form-control" formControlName="city">
                      <label class="active">{{ 'INPUTS.CITY' | translate }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </mdb-item-body>
          </mdb-item>
          <mdb-item>
            <mdb-item-head>{{ 'LABELS.ADDRESS' | translate }}</mdb-item-head>
            <mdb-item-body>
            </mdb-item-body>
          </mdb-item>
          <mdb-item>
            <mdb-item-head>{{ 'LABELS.PUBLIC_PROFILE' | translate }}</mdb-item-head>
            <mdb-item-body>
              <br>
              <form [formGroup]="publicProfileForm">
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="name">
                  <label class="active">{{ 'INPUTS.DISPLAY_NAME' | translate }}</label>
                </div>
                <h1>Adress</h1>
                <hr>
                <div class="md-form">
                  <textarea class="md-textarea" type="text" length="120" mdbCharCounter formControlName="about"></textarea>
                  <label class="active">{{ 'INPUTS.ABOUT_YOU' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="facebook">
                  <label class="active">{{ 'INPUTS.FACEBOOK_PROFILE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="instagram">
                  <label class="active">{{ 'INPUTS.INSTAGRAM_PROFILE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="tumbler">
                  <label class="active">{{ 'INPUTS.TUMBLER_PROFILE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="twitter">
                  <label class="active">{{ 'INPUTS.TWITTER_PROFILE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="website">
                  <label class="active">{{ 'INPUTS.WBESITE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="phone">
                  <label class="active">{{ 'INPUTS.PHONE' | translate }}</label>
                </div>
                <div class="md-form">
                  <input type="text" class="form-control" formControlName="email">
                  <label class="active">{{ 'INPUTS.CONTACT_EMAIL' | translate }}</label>
                </div>
              </form>
            </mdb-item-body>
          </mdb-item>
        </mdb-squeezebox>
        <button type="submit" class="btn btn-lg btn-block waves-light indigo" mdbRippleRadius (click)="updateProfile()">{{ 'BUTTONS.UPDATE_PROFILE' | translate }}</button>
      </div>
    </div>
  </mdb-tab>
</mdb-tabset>

<div mdbModal #newEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-calendar"></i>{{ 'LABELS.CREATE_NEW_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="newEventModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">


        <form [formGroup]="newEventForm" (ngSubmit)="saveEvent()">

          <div class="md-form">
            <input type="text" class="form-control" id="input_newevent_name" formControlName="name">
            <label for="form2">{{ 'LABELS.EVENT_NAME' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" id="input_newevent_location" formControlName="location">
            <label for="form2">{{ 'LABELS.EVENT_LOCATION' | translate }}</label>
          </div>

          <div class="md-form">
            <input type="text" class="form-control" id="input_newevent_date" formControlName="date">
            <label for="form2">{{ 'LABELS.EVENT_DATE' | translate }}</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn indigo mb-2 waves-light" mdbRippleRadius>{{ 'LABELS.CREATE' | translate }}
              <i class="fa fa-plus ml-1"></i>
            </button>
          </div>

        </form>


      </div>
    </div>

  </div>
</div>


<div mdbModal #notValidatedModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Your profile is not validated!</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
          <p>Please validate your account by sending your trade translucent to
            <a href="mailto:validate@eventpicking.de">validate@eventpicking.de</a>.
            <br> After we validated your account you are able to create and sell events.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="notValidatedModal.hide()">Got it!
        </a>
      </div>
    </div>
  </div>
</div>

<div mdbModal #eventLimitModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">You reached your events maximum!</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
          <p>To create and sell more events you hav to upgrade to one of our subscription plans.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="eventLimitModal.hide()">Got it!
        </a>
      </div>
    </div>
  </div>
</div>