<mdb-tabset [buttonClass]="'nav-tabs indigo'" [contentClass]="'card'">

  <mdb-tab heading="{{ 'TABS.EVENTS' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="card-columns">
            <div class="card card-cascade" *ngFor="let event of events | async">

                                <!--Card image-->
        <div class="view gradient-card-header blue-gradient">
            <h2 class="h2-responsive">{{ event.name }}</h2>
            <p>{{ event.location }} - {{ event.date }}</p>
        </div>
        <!--/Card image-->

                <!--Card content-->
                <div class="card-body">
                    <a [routerLink]="['/event', event.id]" class="btn indigo waves-light" mdbRippleRadius>Edit event</a>
                </div>

            </div>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large indigo waves-light" mdbRippleRadius (click)="createNewEvent()">
        <i class="fa fa-plus"></i>
      </a>
    </div>

  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.SALES' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.SUBSCRIPTION' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>

  <mdb-tab heading="{{ 'TABS.PRINTING_HOUSES' | translate }}">
      <div class="row">
        <div class="col-12">
          <br>
        </div>
      </div>
    </mdb-tab>

  <mdb-tab heading="{{ 'TABS.PROFILE' | translate }}">
      <div class="row">
        <div class="col-12">
          <br>
        </div>
      </div>
    </mdb-tab>
</mdb-tabset>

<div mdbModal #newEventModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <div class="modal-header indigo white-text">
        <h4 class="title">
          <i class="fa fa-calendar"></i>{{ 'LABELS.CREATE_NEW_EVENT' | translate }}</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="newEventModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body mb-0">


        <form [formGroup]="newEventForm" (ngSubmit)="saveEvent()">

          <div class="md-form">
            <input mdbActive type="text" class="form-control" id="input_newevent_name" formControlName="name">
            <label for="form2">{{ 'LABELS.EVENT_NAME' | translate }}</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" class="form-control" id="input_newevent_location" formControlName="location">
            <label for="form2">{{ 'LABELS.EVENT_LOCATION' | translate }}</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" class="form-control" id="input_newevent_date" formControlName="date">
            <label for="form2">{{ 'LABELS.EVENT_DATE' | translate }}</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn indigo mb-2 waves-light" mdbRippleRadius>{{ 'LABELS.CREATE' | translate }}
              <i class="fa fa-plus ml-1"></i>
            </button>
          </div>

        </form>


      </div>
    </div>

  </div>
</div>


<div mdbModal #notValidatedModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Your profile is not validated!</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
          <p>Please validate your account by sending your trade translucent to
            <a href="mailto:validate@eventpicking.de">validate@eventpicking.de</a>.
            <br> After we validated your account you are able to create and sell events.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="notValidatedModal.hide()">Got it!
        </a>
      </div>
    </div>
  </div>
</div>

<div mdbModal #eventLimitModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">You reached your events maximum!</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
          <p>To create and sell more events you hav to upgrade to one of our subscription plans.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="eventLimitModal.hide()">Got it!
        </a>
      </div>
    </div>
  </div>
</div>