.my-drop-zone {
  border: dotted 3px lightgray;
}
/* Default class applied to drop zones on over */
.nv-file-over {
  border: dotted 3px red;
}
.another-file-over-class {
  border: dotted 3px green;
}
html,
body {
  height: 100%;
}
.previewIcon {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inline-block {
  display: inline-block;
  margin: 0.2em;
}
