<mdb-tabset #staticTabs [buttonClass]="'nav-tabs indigo'" [contentClass]="'card'">
  <mdb-tab heading="{{ 'TABS.GALLERY' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="{{ 'TABS.EDIT_IMAGES' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Type</td>
                <td>Format</td>
                <td>Size</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let image of (images | async); let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ image.name }}</td>
                <td>{{ image.info.type }}</td>
                <td>{{ image.info.width }}x{{ image.info.height }}</td>
                <td>{{ (image.info.size) }} KB</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="{{ 'TABS.UPLOAD' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>
  <mdb-tab heading="{{ 'TABS.EVENT_SETTINGS' | translate }}">
    <div class="row">
      <div class="col-12">
        <br>
      </div>
    </div>
  </mdb-tab>
</mdb-tabset>