.info {
  text-align: center;
  padding: 30px;
}

.input-row {
  padding-bottom: 50px;
}

.col-12 {
  padding-bottom: 30px;
}

.indigo-gradient {
  background: linear-gradient(80deg, #9dafff, rgb(104, 129, 253));
}
