<div>
  <div class="row mt-5 pt-5 justify-content-md-center">
    <div class="col col-lg-6">
      <div class="btn-group">
        <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="left" mdbRippleRadius (click)="this.templateType = this.id">
          <span>{{ 'TEXTS.SEARCH_BY_ID' | translate}}</span>
        </label>
        <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="right" mdbRippleRadius (click)="this.templateType = this.name">
          <span>{{ 'TEXTS.SEARCH_BY_NAME' | translate}}</span>
        </label>
      </div>
    </div>
  </div>

  <ng-container *ngTemplateOutlet="templateType"></ng-container>

  <ng-template #id>
    <div class="row justify-content-md-center input-row">
      <div class="col col-lg-6">
        <br>
        <br>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" (keyup)="onKey($event)">
          <label class="active">{{ 'TEXTS.SEARCH_EVENT_BY_ID' | translate }}</label>
        </div>
        <p *ngIf="searchedEvents.length === 0" class="info">{{ 'TEXTS.NO_EVENTS_FOUND' | translate }}</p>
      </div>
    </div>
    <div *ngIf="searchedEvents">
      <div class="row">
        <div *ngFor="let event of searchedEvents" class="col-12 col-md-4" style="margin-bottom: 30px">
          <div class="card card-cascade wider">

            <div class="view gradient-card-header indigo-gradient">
              <h2 class="h2-responsive mb-2">
                <i *ngIf="!event?.public" class="fa fa-lock"></i> {{event.name}}</h2>
              <p>
                <i class="fa fa-calendar"></i>&nbsp;{{event.date}}</p>

            </div>
            <div class="card-body text-center">

              <p class="card-text mr-2 ml-2">{{event.description}}</p>

              <a [routerLink]="[ '/event', event.id]" class="pink-text mt-1 d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbRippleRadius>Gehe zu Event
                  <i class="fa fa-chevron-right"></i>
                </h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #name>
    <div class="row justify-content-md-center input-row">
      <div class="col col-lg-6">
        <br>
        <br>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" (keyup)="onKey($event)">
          <label class="active">{{ 'TEXTS.SEARCH_EVENT_BY_NAME' | translate }}</label>
        </div>
        <p *ngIf="searchedEvents.length === 0" class="info">{{ 'TEXTS.NO_EVENTS_FOUND' | translate }}</p>
      </div>
    </div>
    <div *ngIf="searchedEvents">
      <div class="row">
        <div *ngFor="let event of searchedEvents" class="col-12 col-md-4" style="margin-bottom: 30px">
          <div class="card card-cascade wider">

            <div class="view gradient-card-header indigo-gradient">
              <h2 class="h2-responsive mb-2">
                <!-- <i *ngIf="!event?.public" class="fa fa-lock"></i> -->{{event.name}}</h2>
              <p>
                <i class="fa fa-calendar"></i>&nbsp;{{event.date}}</p>

            </div>
            <div class="card-body text-center">

              <p class="card-text mr-2 ml-2">{{event.description}}</p>

              <a [routerLink]="[ '/event', event.id]" class="pink-text mt-1 d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbRippleRadius>Gehe zu Event
                  <i class="fa fa-chevron-right"></i>
                </h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>