<div class="row mt-5 pt-5">
  <div class="col align-self-start"></div>
  <div class="col align-self-center">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
  <div class="col align-self-end"></div>
</div>

<!-- Form for the user -->
<ng-template #formUser>
  <div class="card" style="width: 24rem">

    <div class="card-body mx-4">

      <!--Header-->
      <div class="text-center">
        <h2 class="dark-grey-text mb-5">
          <strong id="page_title">{{ 'LABELS.SIGNUP_AS_USER' | translate }}</strong>
        </h2>
      </div>

      <!--Body-->
      <form [formGroup]="signupForm" (ngSubmit)="signupWithCredentials()">
        <div class="md-form">
          <input mdbActive type="text" class="form-control" formControlName="email" id="input_email" [class.is-valid]="!signupForm.controls.email.errors"
            [class.is-invalid]="signupForm.controls.email.errors">
          <label>{{ 'INPUTS.USER_EMAIL' | translate }}</label>
          <div class="invalid-feedback" *ngIf="signupForm.controls.email.errors">
            {{ 'TEXTS.PROVIDE_VALID_EMAIL' | translate }}
          </div>
        </div>

        <div class="md-form">
          <input mdbActive type="password" class="form-control" formControlName="password" id="input_password" [class.is-valid]="!signupForm.controls.password.errors"
            [class.is-invalid]="signupForm.controls.password.errors">
          <label>{{ 'INPUTS.USER_PASSWORD' | translate }}</label>
          <div class="invalid-feedback" *ngIf="signupForm.controls.password.errors">
            {{ 'TEXTS.PROVIDE_VALID_PASSWORD' | translate }}
          </div>
        </div>

        <div class="md-form">
          <input mdbActive type="password" class="form-control" formControlName="confirmPassword" id="input_password" [class.is-valid]="!signupForm.controls.confirmPassword.errors"
            [class.is-invalid]="signupForm.controls.confirmPassword.errors">
          <label>{{ 'INPUTS.CONFIRM_PASSWORD' | translate }}</label>
          <p1 class="text-danger" *ngIf="error.code">{{ ('FIREBASE_ERRORS.' + error.code) | translate }}
            <br>
          </p1>
          <p class="font-small blue-text d-flex justify-content-end" data-toggle="modal" data-target="#basicExample" id="p_open_reset_modal">
            <a class="blue-text ml-1" (click)="switchForms()">{{ 'LABELS.SIGNUP_AS_PHOTOGRAPHER' | translate }}</a>
          </p>
        </div>

        <div class="text-center mb-3">
          <button type="submit" [disabled]="!signupForm.valid" class="btn pink btn-lg btn-block" id="button_login">{{ 'LABELS.SIGN_UP' | translate }}</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> {{ 'LABELS.SIGN_UP_WITH' | translate }}
        </p>

      </form>

      <div class="row my-3 d-flex justify-content-center">
        <!--Facebook-->
        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light" (click)="loginWithFacebook()"
          id="button_login_with_facebook">
          <i class="fa fa-facebook pink-text text-center"></i>
        </button>
        <!--Twitter-->
        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light" (click)="loginWithTwitter()"
          id="button_login_with_twitter">
          <i class="fa fa-twitter pink-text"></i>
        </button>
        <!--Google +-->
        <button type="button" class="btn btn-white btn-rounded z-depth-1a waves-effect waves-light" (click)="loginWithGoogle()" id="button_login_with_google">
          <i class="fa fa-google-plus pink-text"></i>
        </button>
      </div>

    </div>

  </div>
</ng-template>

<!-- Form for photographs -->
<ng-template #formPhotographer>
  <div class="card" style="width: 24rem">

    <div class="card-body mx-4">

      <!--Header-->
      <div class="text-center">
        <h4 class="dark-grey-text mb-5">
          <strong id="page_title">{{ 'LABELS.SIGNUP_AS_PHOTOGRAPHER' | translate }}</strong>
        </h4>
      </div>

      <!--Body-->
      <form [formGroup]="signupForm" (ngSubmit)="signupWithCredentials()">
        <div class="md-form">
          <input mdbActive type="text" class="form-control" formControlName="email" id="input_email" [class.is-valid]="!signupForm.controls.email.errors"
            [class.is-invalid]="signupForm.controls.email.errors">
          <label>{{ 'INPUTS.USER_EMAIL' | translate }}</label>
          <div class="invalid-feedback" *ngIf="signupForm.controls.email.errors">
            {{ 'TEXTS.PROVIDE_VALID_EMAIL' | translate }}
          </div>
        </div>

        <div class="md-form">
          <input mdbActive type="text" class="form-control" formControlName="photographerUrl" id="input_photographerUrl" (keyup)="checkphotographerUrl()"
            [class.is-valid]="!signupForm.controls.photographerUrl.errors" [class.is-invalid]="signupForm.controls.photographerUrl.errors">
          <label>{{ 'INPUTS.PROFILE_URL' | translate }}</label>
          <div class="invalid-feedback" *ngIf="signupForm.controls.photographerUrl.errors">
            {{ 'TEXTS.PROVIDE_VALID_URL' | translate }}
          </div>
        </div>

        <div class="md-form">
          <input mdbActive type="password" class="form-control" formControlName="password" id="input_password" [class.is-valid]="!signupForm.controls.password.errors"
            [class.is-invalid]="signupForm.controls.password.errors">
          <label>{{ 'INPUTS.USER_PASSWORD' | translate }}</label>
          <div class="invalid-feedback" *ngIf="signupForm.controls.password.errors">
            {{ 'TEXTS.PROVIDE_VALID_PASSWORD' | translate }}
          </div>
        </div>

        <div class="md-form">
          <input mdbActive type="password" class="form-control" formControlName="confirmPassword" id="input_password">
          <label>{{ 'INPUTS.CONFIRM_PASSWORD' | translate }}</label>
          <p class="font-small blue-text d-flex justify-content-end" data-toggle="modal" data-target="#basicExample" id="p_open_reset_modal"
            (click)="switchForms()">
            <a class="blue-text ml-1">{{ 'LABELS.SIGNUP_AS_USER' | translate }}</a>
          </p>
          <p1 class="text-danger" *ngIf="error.code">{{ ('FIREBASE_ERRORS.' + error.code) | translate }}</p1>
        </div>

        <div class="text-center mb-3">
          <button type="submit" [disabled]="!signupForm.valid && !photographerUrlAvailable" [disabled]="" class="btn pink btn-lg btn-block"
            id="button_login">{{ 'LABELS.SIGN_UP' | translate }}</button>
        </div>
      </form>

    </div>

  </div>
</ng-template>