<div class="container-fluid">
  <div class="row mt-5 pt-5">
    <div class="col col-lg-4 text-center">
      <div class="md-form">
        <input mdbActive type="text" class="form-control" (keyup)="onKey($event)">
        <label class="active">{{ 'TEXTS.SEARCH_PHOTOGRAPHER' | translate }}</label>
      </div>
      <div class="scrollable">
        <div *ngIf="editedPhotographer.length; else noPhotographer">
          <div *ngFor="let p of editedPhotographer">
            <div *ngIf="p.premium == true">
              <a [routerLink]="['photographer', p.profileUrl]">
                <div class="card ">
                  <div class="card-body ">
                    <p class="name ">{{ p.name }}</p>
                    <div class="content ">
                      <img class="profile-img " src="{{p.photoUrl}} ">
                      <div *ngIf="p.address " class="address ">{{p.address.street}} {{p.address.streetnumber}}
                        <br/> {{p.address.zip}} {{p.address.city}}
                        <br/>
                      </div>
                    </div>
                    <br/>
                    <div class="distance ">
                      {{getPhotographerDistance(p) | number:'0.2-2' | replace:'.':','}} km
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <hr *ngIf="hasBothProfiles " class="mt-4 mb-4 border ">
          <div *ngFor="let p of editedPhotographer ">
            <div *ngIf="p.premium==f alse ">
              <a routerLink="/photographer/{{p.profileUrl}} ">
                <div class="card ">
                  <div class="card-body ">
                    <p class="name ">{{ p.name }}</p>
                    <div>
                      <div *ngIf="p.address " class="address ">{{p.address.street}} {{p.address.streetnumber}}
                        <br/> {{p.address.zip}} {{p.address.city}}
                        <br/>
                      </div>
                    </div>
                    <br/>
                    <div class="distance ">
                      {{getPhotographerDistance(p) | number:'0.2-2' | replace:'.':','}} km
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <ng-template #noPhotographer>
          <p>{{ 'TEXTS.NO_PHOTOGRAPHERS_FOUND' | translate}}</p>
        </ng-template>
      </div>
    </div>
    <div class="col col-lg-8 text-center ">
      <agm-map #map class="card mapformat ">
        <agm-marker *ngFor="let p of editedPhotographer; let i=i ndex " [latitude]="p.location.lat " [longitude]="p.location.lng "
          [title]="p.name " [zIndex]="i ">
          <agm-snazzy-info-window [maxWidth]="300 " [closeWhenOthersOpen]="true " [maxHeight]="300 ">
            <ng-template>
              <div>
                <span class="name ">
                  <b>{{ p.name }}</b>
                </span>
                <div class="content ">
                  <div>
                    <img *ngIf="p.premium==t rue " class="content-img " src="{{p.photoUrl}} ">
                    <br/>
                  </div>
                  <span *ngIf="p.address.street ">{{ p.address.street }} {{p.address.streetnumber}}
                    <br> {{ p.address.zip }} {{ p.address.city }}</span>
                  <br>
                  <span *ngIf="p.phone ">Tel: {{ p.phone }}</span>
                  <br>
                </div>
                <a routerLink="/photographer/{{p.profileUrl}} ">Profile</a>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>