<div class="container-fluid">
  <div class="row mt-5 pt-5">
    <div class="col col-lg-4 text-center">
      <div class="md-form">
        <input mdbActive type="text" class="form-control">
        <label class="active">Search photographer by ZIP</label>
      </div>
      <div class="scrollable">
        <div *ngFor="let p of (photographer | async)">
          <div *ngIf="p.premium == true">
            <div class="card">
              <div class="card-body">
                <p class="card-text">
                  <img class="profile-img" src="{{p.photoUrl}}"> {{ p.name }}</p>
                <p>{{p.address.street}} {{p.address.streetnumber}}
                  <br/> {{p.address.zip}} {{p.address.city}}
                  <br/> {{p.email}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let p of (photographer | async)">
          <div *ngIf="p.premium == false">
            <div class="card">
              <div class="card-body">
                <p class="card-text text-left">
                  {{ p.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-8 text-center">
      <agm-map #map class="card mapformat">
        <agm-marker *ngFor="let p of (photographer | async); let i = index" [latitude]="p.location.lat" [longitude]="p.location.lng"
          [title]="p.name" [zIndex]="i">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              <div class="text-left">
                {{ p.name }}
                <br> {{ p.address.street }}
                <br> {{ p.address.zip }} - {{ p.address.city }} {{ p.address.street }}
                <br> Tel: {{ p.phone }}
                <br>
                <a>Profile</a>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>