<div class="container-fluid">
  <div class="row mt-5 pt-5">
    <div class="col col-3 text-center">

      <table>
        <tbody>
          <div *ngFor="let p of (photographer | async)">
            <tr *ngIf="p.premium == true">
              <td class="card">
                <div class="card-body">
                  <p class="card-text text-left">
                    <img class="profile-img" src="{{p.photoUrl}}"> {{ p.name }}
                  </p>
                </div>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div class="col col-9 text-center">
      <agm-map #map style="height: 500px; width: 100%" class="card">
        <agm-marker *ngFor="let p of (photographer | async); let i = index" [latitude]="p.location.lat" [longitude]="p.location.lng"
          [title]="p.name" [zIndex]="i">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              <div class="text-left">
                {{ p.name }}
                <br> {{ p.address.street }}
                <br> {{ p.address.zip }} - {{ p.address.city }} {{ p.address.street }}
                <br> Tel: {{ p.phone }}
                <br>
                <a>Profile</a>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>