#sum_row {
    background-color: rgb(68, 68, 68);
    color: white;
  }


 input[type=checkbox]:checked+label {
    color:black !important;
}


 h3,
 .price{
     font-weight: bold;
 } 

 img{
     margin-top: 30px;
 }

 .padded{
    padding-left: 50px;
     margin-top:50px;
     margin-bottom: 50px;
}
 
.faded{
     color: rgb(216, 208, 208);
 } 

.btn{
    margin-top: 50px;
   // position: left;
    position: relative;
}  
.fa-trash{
    color: #9c1b1b ;
} 

.fa-check{
    color: #5bc01d ;
}

.background-white{
    background-color: white !important;
    border-color: white !important;
}

.clickable {
    cursor: pointer;
  }
  