<div class="row mt-5 pt-5">
  <!--site-stepper / template-navigation-->
  <div class="col-sm-12">
    <ul class="stepper stepper-horizontal">
      <li class="{{contactDetailsStatus}}">
        <a (click)="setTemplate('contactDetails')">
          <span class="circle">1</span>
          <span class="label">{{ 'NAV.CONTACT_DETAILS' | translate }}</span>
        </a>
      </li>
      <li class="{{paymentDeliveryStatus}}">
        <a (click)="setTemplate('paymentDelivery')">
          <span class="circle">2</span>
          <span class="label">{{ 'NAV.PAYMENT_DELIVERY' | translate }}</span>
        </a>
      </li>
      <li class="{{checkOrderStatus}}">
        <a (click)="setTemplate('checkOrder')">
          <span class="circle">
            3
          </span>
          <span class="label">{{ 'NAV.CHECK_ORDER' | translate }}</span>
        </a>
      </li>
    </ul>
    <div class="row m-5">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
  </div>
  <!--END site-stepper / template-navigation-->

  <!--checkout-templates-->
  <ng-template #loadingTmpl>
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
  </ng-template>

  <ng-template #checkoutContactDetails>
    <div>
      <h2>{{ 'LABELS.CONTACT_DETAILS' | translate }}</h2>
      <p>-KUNDENEMAIL-</p>
      <hr class="m-5">
      <h2>{{ 'LABELS.DELIVERY_ADDRESS' | translate }}</h2>
      <p>--VORNAME-- --NACHNAME--</p>
      <p>--STRASSE-- --HAUSNR--</p>
      <p>--STADT--</p>
      <p>--PLZ--</p>
      <p>--LAND--</p>


    </div>
  </ng-template>

  <ng-template #checkoutPaymentDelivery>
    <div>PaymentDelivery</div>
  </ng-template>

  <ng-template #checkoutCheckOrder>
    <div>CheckOrder</div>
  </ng-template>
  <!--END checkout-templates-->
</div>