<div class="row mt-5 pt-5">
  <!--site-stepper / template-navigation-->
  <div class="col-sm-12">
    <ul class="stepper stepper-horizontal">
      <li class="{{contactDetailsStatus}}">
        <a (click)="setTemplate('contactDetails')">
          <span class="circle">1</span>
          <span class="label">{{ 'NAV.CONTACT_DETAILS' | translate }}</span>
        </a>
      </li>
      <li class="{{paymentDeliveryStatus}}">
        <a (click)="setTemplate('paymentDelivery')">
          <span class="circle">2</span>
          <span class="label">{{ 'NAV.PAYMENT_DELIVERY' | translate }}</span>
        </a>
      </li>
      <li class="{{checkOrderStatus}}">
        <a (click)="setTemplate('checkOrder')">
          <span class="circle">
            3
          </span>
          <span class="label">{{ 'NAV.CHECK_ORDER' | translate }}</span>
        </a>
      </li>
    </ul>
    <div class="row m-5">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
  </div>
  <!--END site-stepper / template-navigation-->

  <!--checkout-templates-->
  <ng-template #loadingTmpl>
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
  </ng-template>

  <ng-template #checkoutContactDetails>
    <div>
      <h2>{{ 'LABELS.CONTACT_DETAILS' | translate }}</h2>
      <p>-KUNDENEMAIL-</p>
      <hr class="m-5">
      <h2>{{ 'LABELS.DELIVERY_ADDRESS' | translate }}</h2>
      <p>--VORNAME-- --NACHNAME--</p>
      <p>--STRASSE-- --HAUSNR--</p>
      <p>--STADT--</p>
      <p>--PLZ--</p>
      <p>--LAND--</p>


    </div>
  </ng-template>

  <ng-template #checkoutPaymentDelivery>
    <div>PaymentDelivery</div>
  </ng-template>

  <ng-template #checkoutCheckOrder>
      <table class="table table-bordered table-striped table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">{{ 'NAV.CART_QUANTITY' | translate }}</th>
              <th>Item</th>
              <th><i class="fa fa-print fa-lg" aria-hidden="true"></i></th>
              <th><i class="fa fa-download fa-lg" aria-hidden="true"></i></th>
              <th scope="col">{{ 'NAV.CART_SIZE' | translate }}</th>
              <th scope="col">{{ 'NAV.CART_PRICE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>2</td>
              <td>
                  <img src="http://www.bild.de/politik/ausland/wladimir-putin/interview-mit-dem-russischen-praesidenten-44096422.bild.html" class="img-thumbnail mr-2" > 
                </td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <td></td>
                <td>1230x1230</td>
                <td>90€</td>
                <td>
                  <i class="fa fa-lg fa-trash clickable" aria-hidden="true" ></i>
                </td>
              </tr>
            <tr>
              <!-- <th scope="row">2</th> -->
              <td>2</td>
              <td>
                  <img src="http://www.bild.de/politik/ausland/wladimir-putin/interview-mit-dem-russischen-praesidenten-44096422.bild.html" class="img-thumbnail mr-2" > 
                </td>
                <td></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <td>1230x1230</td>
                <td>90€</td>
                <td>
                  <i class="fa fa-lg fa-trash clickable" aria-hidden="true" ></i>
                </td>
              </tr>           
            <tr>
              <!-- <th scope="row">3</th> -->
              <td>2</td>
              <td>
                  <img src="http://www.bild.de/politik/ausland/wladimir-putin/interview-mit-dem-russischen-praesidenten-44096422.bild.html" class="img-thumbnail mr-2" > 
                </td>
                <td><i class="fa fa-check" aria-hidden="true"></i> </td>
                <td></td>
                <td>1230x1230</td>
                <td>90€</td>
                <td>
                  <i class="fa fa-lg fa-trash clickable" aria-hidden="true" ></i>
                </td>
            </tr>
            <tr class="table-bordered">
                <td>Zwischensumme</td>
                <td></td>
                <td></td>
                <td></td>
                <td>20€</td>
                <td></td>
            </tr> 
            <tr class="table-bordered">
                <td>+ Versandkosten</td>
                <td></td>
                <td></td>
                <td></td>
                <td>20€</td>
                <td></td>
            </tr>      
            <tr class="table-bordered">
                <td>{{'LABELS.TOTAL'|translate}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>20€</td>
                <td></td>
            </tr>        
          </tbody>
        </table>
         <!-- Buttons to previous or next step -->
         <div class="text-centre">
           Indem du deine Bestellung aufgibst, akzeptierst du unsere Allgemeinen Geschäftsbedingungen und unsere Datenschutzrichtlinie.
         </div>
    <div class="row justify-content-end">
        <button id="checkout3_back" type="button" class="btn btn-primary waves-light" mdbRippleRadius>{{ 'BUTTONS.BACK' | translate }}</button>
        <button id="checkout3_send_order" type="button" class="btn btn-primary waves-light"  mdbRippleRadius>{{ 'BUTTONS.SEND_ORDER' | translate }}</button>
      </div>
      <!-- END buttons -->
  </ng-template>
  <!--END checkout-templates-->
</div>