.authorData {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rowdesign {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-hdg{
  font-weight: bold;
}
.fa-star{
  border:orange;
}

.grey-gradient {
  // background: linear-gradient(40deg, #e8eaf6, #fafafa);
  // background: linear-gradient(40deg, #b2dfdb, #00796b); // chiara türkis
  // background: linear-gradient(40deg, #fff176, #ffa726); // yellow-orange
}

hr{
  color: #3f51b5;
}

td{
  border: none;
 
}

#centered {
  text-align: center;
}

#navbar {
  text-align: center;
  font-size: 18px;
  color: #3f51b5;
}

#address {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#testimonials{
  img{
    width:10%;
    height:10%;
  }
}
