.authorData {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rowdesign {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-hdg {
  font-weight: bold;
}

.rating {
  font-weight: bold;
  margin-top: 20px;
}

.write {
  font-size: 30px !important;
  margin-bottom: 15px;
}

.col-md-4 {
  padding: 15px;
}

.white {
  color: white;
  background-color: white;
  border-color: white;
}

.form-check-inline {
  margin-right: 20px;
}

td {
  border: none;
}

#centered {
  text-align: center;
}

#navbar {
  text-align: center;
  font-size: 18px;
  color: #3f51b5;
}

#address {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.indigo-gradient {
  background: linear-gradient(80deg, #9dafff, rgb(104, 129, 253));
}

#testimonials {
  img {
    width: 10%;
    height: 10%;
  }
}
