<div class="row mt-5 pt-5">
  <div *ngIf="photographer">
    <div class="author-box grey-gradient">
      <h2 class="h2-responsive text-center">{{ 'LABELS.ABOUT' | translate }} {{photographer?.name}}</h2>
      <hr class="mt-5 mr-5 ml-5">

      <!--site-navbar-->
      <div id="navbar" class="row justify-content-md-center">
        <div class="col-md-auto">
          <a mdbPageScroll id="navelement" href="#description" [pageScrollDuration]="300">{{ 'NAV.DESCRIPTION' | translate }}</a>
        </div>
        <div class="col-md-auto">
          <a mdbPageScroll id="navelement" href="#events" [pageScrollDuration]="300">{{ 'NAV.EVENTS' | translate }}</a>
        </div>
        <div class="col-md-auto">
          <a mdbPageScroll id="navelement" href="#prices" [pageScrollDuration]="300">{{ 'NAV.PRICES' | translate }}</a>
        </div>
      </div>
      <!--END site-navbar-->

      <hr id="description" class="mb-5 mr-5 ml-5">

      <!--photographer-description box (picture, infotext, address)-->
      <div class="row">
        <div class="col-12 col-sm-3">
          <img src="{{photographer?.photoUrl}}" alt="Bild nicht verfügbar" class="img-fluid rounded-circle z-depth-2">
        </div>
        <div id="authorData" class=" col-12 col-sm-9">
          <p>{{photographer?.about}}</p>
          <p id="address">
            <b>{{photographer?.address?.street}} {{photographer?.address?.streetnumber}}
              <br/> {{photographer?.address?.zip}} {{photographer?.address?.city}}</b>
          </p>
        </div>
      </div>
      <!--END photographer-description box-->

      <hr class="m-5">

      <!--social network links-->
      <div id="centered" class="personal-sm">
        <a *ngIf="photographer.website" class="email-ic" href="{{photographer?.website}}">
          <i class="fa fa-home fa-2x"> </i>
        </a>
        <a *ngIf="photographer.facebook" class="fb-ic" href="{{photographer?.facebook}}">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
        <a *ngIf="photographer.instagram" class="ins-ic" href="{{photographer?.instagram}}">
          <i class="fa fa-instagram fa-2x"> </i>
        </a>
        <a *ngIf="photographer.twitter" class="tw-ic" href="{{photographer?.twitter}}">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
        <a *ngIf="photographer.tumbler" class="vk-ic" href="{{photographer?.tumbler}}">
          <i class="fa fa-tumblr fa-2x"> </i>
        </a>
        <a *ngIf="photographer.email" class="email-ic" href="mailto:{{photographer?.email}}">
          <i class="fa fa-envelope-o fa-2x"> </i>
        </a>
      </div>
      <!--END social network links-->

      <hr id="events" class="m-5">

      <!--photographer events-->
      <div id=" rowdesign " class="row">
        <div *ngFor="let event of events | async " id="rowdesign " class="col-12 col-md-4 ">

          <div class="card card-cascade wider ">

            <div class="view gradient-card-header peach-gradient ">
              <h2 class="h2-responsive mb-2 ">
                <i *ngIf="!event?.public" class="fa fa-lock"></i> {{event.name}}</h2>
              <p>
                <i class="fa fa-calendar "></i>&nbsp;{{event.date}}</p>

            </div>
            <div class="card-body text-center ">

              <p class="card-text mr-2 ml-2 ">{{event.description}}</p>

              <a [routerLink]="[ '/event', event.id] " class="orange-text mt-1 d-flex flex-row-reverse ">
                <h5 class="waves-effect p-2 " mdbRippleRadius>View Pictures
                  <i class="fa fa-chevron-right "></i>
                </h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--END photographer events-->

      <hr id="prices" class="m-5">

      <!--photographer prices-->
      <p>Preisliste in Bearbeitung...</p>
      <!--END photographer prices-->
    </div>
    <!--END author-box element-->
  </div>
</div>