<div class="row mt-5 pt-5">
  <div class="text-center" style="margin: auto">
    <div>
      <p class="four-size">
        <strong>4</strong>
        <img class="lessMargin" src="https://www.freeiconspng.com/uploads/showing-gallery-for-camera-lens-png-clipart-10.png" width="150px"
          alt="O">
        <strong>4</strong>
      </p>
      <h1>{{ 'TEXTS.PAGE_NOT_FOUND' | translate }}</h1>
      <p class="section-description grey-text">{{ 'TEXTS.PAGE_NOT_FOUND_DESCRIPTION' | translate }}</p>
    </div>
  </div>
</div>