.lessVertical-1 {
    vertical-align: -20%;
}

.lessVertical-2 {
    vertical-align: -25%;
}

.lessVertical-3 {
    vertical-align: -30%;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}